$primary-900: #142b28;
$primary-400: #214842;
$primary-500: #214842;
$primary: #214842;

$secondary-50: #f7e1b4;

$gray-50: #f9fafb;
$gray-200: #e5e7eb;
$gray-500: #6b7280;
$gray-700: #374151;
$gray-950: #030712;
$gray-900: #111827;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-400: #94a3b8;

$success-50: #e5fbf1;
$success-700: #05af65;
$success-900: #006c3c;

$warning-50: #fefce8;
$warning-700: #a16207;

$info-50: #e8f8ff;
$info-700: #209cd1;

$blue-50: #eff6ff;
$blue-700: #1d4ed8;

$danger-50: #fef2f2;
$danger-700: #b91c1c;
