.personal-information {
  font-size: var(--font-size-5xl);
  font-weight: 700;
  text-align: center;
  color: #111827;
}
.first-name,
.personal-information {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}

.gender {
  position: relative;
  line-height: 150%;
}
